<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to Youtube Player</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-button expand="full" fill="outline" (click)="clearStorage()" >Clear cache</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="cloud-upload"></ion-icon>
        <ion-button expand="full" fill="outline" (click)="getImage()" >Upload Image</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="cloud-upload"></ion-icon>
        <ion-button expand="full" fill="outline">Upload Audio</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="cloud-upload"></ion-icon>
        <ion-button expand="full" fill="outline">Upload Video</ion-button>        
      </ion-item>
    </ion-list>
</ion-content>
